form input {
    margin-bottom: 1.5rem !important;
}

#alertCep {
    display: none;
}

form span {
    font-size: .8rem;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    color: rgb(255, 54, 54);
}

form input:disabled:not(:placeholder-shown) {
    background-color: #FFF;
}