body{
  box-sizing: border-box;
}

.container{
  padding: 0 5vw;
}

.top-content {
  height: auto;
  background-color: #BD06DD;
}

.top-content .container{
  padding: 8vh 5vw;
}

.bottom-content {
  height: 25%;
  width: 100%;
  background-color: #2D2D2D;
}

.header {
  background-color: #BD06DD;
  height: 18%;
  padding: 3vh 0;
}

.header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo img{
  width: 3vw;
  height: auto;
}

.logo h4{
  margin-left: 3%;
  font-size: 2vw;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  font-size: 1.8vw;
}

.navbar a {
  border-bottom: solid transparent 3.5px;
  border-radius: 6%;
  transition: border-bottom 0.3s ease-in-out;
}

.navbar a:hover {
  border-bottom: solid #F58E07 3.5px;
}

.slogan {
  color: white;
  font-size: 3.5rem;
  position: relative;
  left: 100%;
  opacity: 0;
  animation: slideAndFade 2s ease-out forwards;
  width: 40%;
}

@keyframes slideAndFade {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  margin-top: 5%;
  width: 40%;
}

.login-button {
  display: flex;
  justify-content: center;
  background-color: #F58E07;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  filter: brightness(1.03);
}

.cadastro-button{
  display: flex;
  justify-content: center;
  color: #F58E07;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cadastro-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(245, 142, 7, 0.2);
  filter: brightness(1.03);
}

.middle-content{
  height: fit-content;
  background-color: #2D2D2D;
}

.middle-content .container{
  padding: 8vh 5vw;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 28%;
  background-color: #2D2D2D;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.card img {
  max-width: 20vw;
  height: auto;
}

.card h4 {
  font-size: 1.3rem;
  margin-top: 5%;
  color: #F58E07;
}

.card p {
  font-size: 1.1rem;
  margin-top: 5%;
  color: white;
}
