.top-menu {
  height: auto;
  width: 100%;
  background-color: #BD06DD;
  align-items: center;
}

.bottom-menu {
  height: 25%;
  width: 100%;
  background-color: #2D2D2D;
}

.header {
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}

.logo img{
  width: 3vw;
  height: 4vw;
}

.logo h4{
  margin-top: 14%;
  margin-left: 3%;
  font-size: 2vw;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-right: 8vw;
  font-size: 1.8vw;
}

.navbar a:hover {
  border-bottom: solid #F58E07 3.5px;
}

.content{
  width: 40%;
  height: 77%;
  align-items: center;
}

.slogan {
  color: white;
  font-size: 4rem;
  position: relative;
  left: 100%;
  opacity: 0;
  animation: slideAndFade 2s ease-out forwards;
}

@keyframes slideAndFade {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  width: 75%;
  height: fit-content;
  justify-content: space-between;
}

.login-button {
  display: flex;
  justify-content: center;
  background-color: #F58E07;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  filter: brightness(1.03);
}

.cadastro-button{
  display: flex;
  justify-content: center;
  color: #F58E07;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cadastro-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(245, 142, 7, 0.2);
  filter: brightness(1.03);
}

.middle-menu{
  background-color: #2D2D2D;
  padding: 0 3vw;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 28%;
  background-color: #2D2D2D;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h4 {
  margin-top: 10px;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
}
