h1 {
  font-size: 1.3rem;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 1.2rem;
  align-items: center;
  gap: 1rem;
  color: whitesmoke;
}

#section1,
#section2 {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 86.9vh;
}

.totem-list,
.totem-register {
  width: 100%;
  background-color: #3f3e3e;
  border-radius: 25px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.list {
  overflow-y: auto;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter {
  font-size: 0.9rem;
  font-weight: lighter;
}

.list-status {
  margin-top: 1rem;
  display: flex;
  width: 100%;
}

.list-status button {
  font-family: 'Montserrat';
  width: 25%;
  padding: 0.5rem 0;
  border: solid 2px #3f3e3e;
  color: whitesmoke;
  font-weight: bold;
  border-bottom: 0;
}

.list-status button:hover {
  filter: brightness(0.9);
}

.status-ok {
  background-color: rgb(44, 161, 100);
}

.status-alerta {
  background-color: rgba(255, 215, 0, 0.7);
}

.status-critico {
  background-color: rgba(255, 99, 71, 0.7);
}

.status-all {
  background-color: #BD06DD;
}

.status-inativo {
  background-color: #909090;
}

.message {
  display: flex;
  align-items: center;
}

.message a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.list-card {
  display: flex;
  height: fit-content;
  padding: 1rem;
  align-items: center;
  border: solid 2px #3f3e3e;
  border-top: 0;
  color: whitesmoke;
}

.delete-button{
  background-color: rgba(0, 0, 0, 0);
width: 2rem;
margin-left: 1.5rem;
}

.delete-button img{
  width: 90%;
  height: auto;
}

.img-status {
  width: 4%;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.img-status img {
  width: 100%;
  height: auto;
}

.totem-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restart-button {
  background-color: #BD06DD;
  border: 2px solid #670478;
  border-radius: 5px;
  padding: 0.6rem 0.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: 0.9rem;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.restart-button:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

.totem-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
}

.totem-register h1 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 4%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input,
select {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

#submit-button {
  width: 100%;
  background-color: #bd06dd;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 4.4%;
  font-family: 'Montserrat';
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#submit-button:hover {
  transform: scale(0.99);
  filter: brightness(0.9);
}

#totem-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#message{
  text-align: center;
}

.employee-info {
  height: 100%;
}

.employee-name {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Montserrat';
}

.actions button:hover {
  transform: scale(0.99);
  filter: brightness(1.02);
}

.employee-card {
  display: flex;
  background-color: #BD06DD;
  height: fit-content;
  padding: 1rem;
  align-items: center;
  border: solid 2px #3f3e3e;
  border-top: 0;
  color: whitesmoke;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.employee-card:hover {
  transform: scale(0.99);
}
