.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding: 1.2rem;
    align-items: center;
    gap: 1rem;
    color: whitesmoke;
}

.grid section {
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: #3f3e3e;
    border-radius: 25px;
    padding: 1.2rem;
    flex-direction: column;
    height: 94.5%;
    align-self: flex-start;
}

section h2 {
    margin-bottom: 2rem;
    text-align: center;
}

section h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.alert-range {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.range{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-range div span{
    margin-top: 5%;
}

.alert-range-btn {
    position: absolute;
    top: 45vh;
    width: 20%;
    background-color: #BD06DD;
    color: white;
    border: none;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 23%;
}

.alert-range-btn:hover {
    transform: scale(0.99);
    filter: brightness(0.9);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#ok {
    color: rgba(0, 255, 0, 0.7)
}

#alert {
    color: rgba(255, 215, 0, 1);
}

#critical {
    color: rgba(255, 99, 71, 1);
}

#notify{
    color: lightgray;
}

.range-value {
    width: 10%;
    font-size: 1rem;
    color: whitesmoke;
}


input[type="range"] {
    margin-top: 1rem;
    -webkit-appearance: none;
    width: 90%;
    height: 0.5rem;
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7%;
    height: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"].okLvl::-webkit-slider-thumb {
    background: rgba(0, 255, 0, 1);
}

input[type="range"].alertLvl::-webkit-slider-thumb {
    background: rgba(255, 215, 0, 1);
}

input[type="range"].criticalLvl::-webkit-slider-thumb {
    background: rgba(255, 99, 71, 1);
}

input[type="range"].notificationLvl::-webkit-slider-thumb {
    background: lightgray;
}

.error-message {
    align-self: center;
    text-align: center;
    display: none;
    color: red;
    font-weight: bolder;
    font-size: 0.8rem;
}