h1 {
    color: whitesmoke;
    font-size: 1.3rem;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 1.2rem;
    align-items: center;
    gap: 1rem;
}

.grid section {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    height: 50%;
}

.totem-status,
.component-list,
.uptime,
.efficiency,
.tooltip-card {
    background-color: #3f3e3e;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 25px;
}

.tooltip-card{
    display: none;
    height: auto;
}

.tooltip-card p{
    margin-top: 1rem;
    color: whitesmoke;
    font-size: 1.3rem;
    text-align: left;
}

.totem-status {
    display: flex;
    align-items: center;
}

.totem-status h1 {
    align-self: self-start;
    margin-bottom: 0.8vh;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 2% 0;
}

.card-status {
    width: 22%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 15vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.8rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.card-status:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.cards a:hover {
    transform: scale(0.99);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.total-totems-text{
    position: absolute;
    color: whitesmoke;
    font-weight: bolder;
    width: 50%;
    left: 6.4vw;
    top: 9.5vh;
    text-align: center;
    font-size: 0.8rem;
}

.component-list{
    box-sizing: border-box;
    width: 52.9%;
    height: 100%;
    justify-content: space-between;
}

.card-title{
    width: 100%; 
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.card-title h1{
    display: flex;
    align-items: center;
    width: 90%;
}

.card-title a{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title img{
    width: 80%;
    height: auto;
}

.date{
    font-size: 1.05rem;
    margin-left: 1%;
}

.components{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.components section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
}

.component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 25px;
    text-align: center;
    width: 30%;
    height: 90%;
    color: whitesmoke;
    user-select: none;
}

.component h2{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    width: 80%;
}

.component span{
    font-size: 1rem;
}

.component:hover {
    filter: brightness(0.9);
    transform: scale(0.99);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#green-card {
    background-color: rgba(0, 255, 0, 0.7);
    border: solid 2px #3BFF5C;
}

#red-card {
    background-color: rgba(255, 99, 71, 0.7);
    border: solid 2px #FF4040;
}

#gray-card{
    background-color: rgb(101, 101, 101);
    border: solid 2px grey;
}

#yellow-card {
    background-color: rgba(255, 215, 0, 0.7);
    border: solid 2px #FFB23D;
}

.status-canvas {
    position: relative;
    width: 60%;
    height: 60%;
    margin-top: 2vh;
}

.status-canvas canvas{
    position: relative;
    z-index: 1;
 }

.uptime-canvas,
.efficiency-canvas {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
}