h1 {
    color: whitesmoke;
    font-size: 1.4rem;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 1.2rem;
    align-items: center;
    gap: 1rem;
}

.grid section {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    height: 100%;
}

.totem-status,
.totem-list,
.uptime,
.efficiency {
    background-color: #3f3e3e;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 25px;
}

.totem-status {
    display: flex;
    align-items: center;
}

.totem-status h1 {
    align-self: self-start;
    margin-bottom: 0.8vh;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 2% 0;
}

.cards div {
    width: 22%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.total-totems-text{
position: absolute;
top: 45%;
left: 29.1%;
transform: translate(-50%, -50%);
color: whitesmoke;
font-weight: bolder;
width: 12%;
text-align: center;
font-size: 1.2rem;
}

#green-card {
    background-color: rgba(0, 255, 0, 0.7);
    border: solid 2px #3BFF5C;
}

#red-card {
    background-color: rgba(255, 99, 71, 0.7);
    border: solid 2px #FF4040;
}

#gray-card{
    background-color: rgb(101, 101, 101);
    border: solid 2px grey;
}

#yellow-card {
    background-color: rgba(255, 215, 0, 0.7);
    border: solid 2px #FFB23D;
}

.status-canvas {
    width: 65%;
    height: 65%;
    margin-top: 2vh;
}

.totem-list {
    background-color: #3f3e3e;
    overflow-y: auto;
    height: 91%;
}

.list-status {
    margin-top: 1rem;
}

.list-status button {
    padding: 0.5rem 2rem;
    border: solid 2px #670478;
    background-color: #BD06DD;
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 0;
}

.list-status button:hover {
    filter: brightness(0.9);
}

#ok {
    border-color: #3BFF5C;
    background-color: rgba(0, 255, 0, 0.7);
}

#alert {
    border-color: #FFB23D;
    background-color: rgba(255, 215, 0, 0.7);
}

#danger {
    border-color: #FF4040;
    background-color: rgba(255, 99, 71, 0.7);
}

#all {
    border-color: #670478;
    background-color: #BD06DD;
}

#off{
    border-color: grey;
    background-color: rgb(101, 101, 101);
}

.list {
    height: 100%;
}

.list-card {
    display: flex;
    background-color: #BD06DD;
    height: 12%;
    padding: 1rem;
    align-items: center;
    border: solid 2px #670478;
    border-top: 0;
    color: whitesmoke;
}

.img-status {
    width: 4%;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.img-status img {
    width: 100%;
    height: auto;
}

.totem-info {
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 6%;
}

.totem-name {
    width: 30%;
}

.component-status {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.component-status div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-status h3 {
    font-size: 1rem;
}

.component-status p {
    font-size: 0.8rem;
}

.restart-button {
    background-color: #BD06DD;
    border: 2px solid #670478;
    border-radius: 5px;
    padding: 0.6rem 0.7rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-size: 0.9rem;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.restart-button:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

.uptime-canvas,
.efficiency-canvas {
    margin-top: 1rem;
    width: 100%;
    height: 80%;
}